{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 col-sm-12 text-center vh-100 mt-4">
    <h1><i class="fa-solid fa-door-open reabook-logo"></i> Login</h1>
    <hr class="w-25 my-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-lg-left">
            <form action="" method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" aria-describedby="usernameField">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>

                <input type="submit" value="submit" class="btn btn-secondary">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}