{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% include 'includes/bookings-base.html' %}

<h1>My Profile</h1>
<div class="row">
    <div class="col-lg-3 col-md-0"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Number : <span class="text-green font-weight-bold">{{ user.id }}</span></h5>
                Username : <span class="text-green font-weight-bold">{{ user.username }}</span>
                <br>First Name : <span class="text-green font-weight-bold">{{ user.first_name }}</span>
                <br>Last Name : <span class="text-green font-weight-bold">{{ user.last_name }}</span>
                <br>Email Address : <span class="text-green font-weight-bold">{{ user.email }}</span>
            </div>
            <p>
                <a href="{% url 'user-diary' user.id %}" class="btn btn-outline-reabook">Back to My Diary</a>
            </p>
        </div>
    </div>
    <div class="col-lg-3 col-md-0"></div>
</div>
{% include 'includes/bookings-base-calendar.html' %}
{% else %}
    {% include 'includes/account-required.html' %}
{% endif %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
