{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-md-12 col-sm-12 text-center">
    <h1>register.html</h1>
    <p>User Registration Form </p>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-lg-left">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}

                {{ registration_form.as_p }}

                <br><input type="submit" value="register" class="btn btn-secondary">
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}