{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_staff %}
        {% include 'includes/bookings-base-manager.html' %}
        <div class="container-fluid">
            <!-- Property Table -->
            <section class="col-12">
                <div class="progress mb-3">
                    <div class="progress-bar bg-green" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        Current User : {{ user }} : {{ user.first_name }} {{ user.last_name }} 
                    </div>
                </div>
                <!-- Desktop Display -->
                <div class="row mb-3" id="manage-large">
                    <div class="col text-lg-left">
                        <div class="list-group list-group-flush list-table" role="tablist">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Agent</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Postcode</th>
                                        <th scope="col">List Date</th>
                                        <th scope="col">List Duration</th>
                                        <th scope="col">Viewings</th>
                                        <th scope="col">Available</th>
                                        <th scope="col">Admin</th>
                                    </tr>
                                </thead>
                                <tbody class="font-weight-light">
                                    {% for prop in users_properties %}
                                        <tr>
                                            <th scope="row">{{ prop.id }}</th>
                                            <td>{{ prop.realtor }}</td>
                                            <td>{{ prop.house_no }} {{ prop.street }}, {{ prop.suburb }}</td>
                                            <td>{{ prop.city }}</td>
                                            <td>{{ prop.postcode }}</td>
                                            <td>{{ prop.list_date }}</td>
                                            <td>{{ prop.list_duration }}</td>
                                            <td>{{ prop.viewings }}</td>
                                            <td>{{ prop.available }}</td>
                                            <td>
                                                <a href="{% url 'edit-property' prop.id %}" aria-label="" class="reabook-logo"><strong>Edit / Delete</strong>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr class="mt-0 mb-4">
                        
                        <!-- Other option buttons -->
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{% url 'add-property' user.id %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Add Property</button>
                                </a>
                                <a href="{% url 'choose_bookings' %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Book Viewings</button>
                                </a>
                                <a href="{% url 'properties' %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Search Listings</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Mobile Display -->
                <div class="row mb-3" id="manage-mobile">
                    <div class="col text-lg-left">
                        <div class="list-group list-group-flush list-table" role="tablist">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Property</th>
                                    </tr>
                                </thead>
                                <tbody class="font-weight-light">
                                    {% for prop in users_properties %}
                                        <tr>
                                            <th scope="row">{{ prop.id }}</th>
                                            <td>
                                                <a href="{% url 'edit-property' prop.id %}" aria-label="" class="reabook-logo"><strong>{{ prop.house_no }} {{ prop.street }}, {{ prop.suburb }}</strong>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <hr class="mt-0 mb-4">
                        
                        <!-- Other option buttons -->
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="{% url 'add-property' user.id %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Add Property</button>
                                </a>
                                <a href="{% url 'choose_bookings' %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Book Viewings</button>
                                </a>
                                <a href="{% url 'properties' %}" aria-label="">
                                    <button class="btn btn-outline-reabook float-right mr-3" >Search Listings</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Section to maintain structure of manager page footer -->
    <div class="col-md-0 col-lg-2 px-2 border-left">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
        {% else %}
            {% include 'includes/account-owner-required.html' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
{% endblock %}
