{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container-subpages">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Heading -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="logo-font"><i class="fas fa-bookmark reabook-logo"></i> ReaBook Properties</h2>
            <hr class="w-50 mb-2">
        </div>
    </div>
    <!-- Property Container -->
    
</div>
{% endblock %}