{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block page_header %}
<div class="container header-container-subpages">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Heading -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="logo-font"><i class="fas fa-bookmark reabook-logo"></i> ReaBook Properties</h2>
            <hr class="w-50 mb-2">
        </div>
    </div>
    <!-- Property Container -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mb-2"></div>
            <div class="row">
                {% for prop in properties %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card property-card h-100 border-0">
                        <p class="ribbon font-weight-light">{{ prop.ribbon_feature }}</p>
                        {% if prop.main_image %}
                        <a href="{% url 'property_detail' prop.id %}">
                            <img src="{{ prop.main_image.url }}" alt="{{ prop.name }}" class="card-img-top img-fluid rounded">
                        </a>
                        {% else %}
                        <a href="{% url 'property_detail' prop.id %}">
                            <img class="card-img-top img-fluid rounded" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ prop.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">{{ prop.name }}</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">
                                        {% if prop.category.pk == 1 %}
                                            <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Property for Sale.
                                                <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>{{ prop.sale_price|intcomma }}</strong>
                                                <br><small>Listed: {{ prop.list_date }}</small></p>
                                            </p>
                                        {% elif prop.category.pk == 2 %}
                                            <p class="fw-lighter fs-6"><i class="fas fa-tasks reabook-logo"></i> Property for Rent:
                                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw|intcomma }}</strong> /wk
                                                <br><small>Available: {{ prop.date_available }}</small></p>
                                        {% else %}
                                            <p class="fw-lighter fs-6"><i class="fa-solid fa-scroll reabook-logo"></i> Space for Lease:
                                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw|intcomma }}</strong> /wk
                                                <br><small>Available: {{ prop.date_available }}</small></p>
                                        {% endif %}
                                    </p>
                                    {% if prop.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ prop.rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted">Not Rating Yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Adaptive of horizontal rules -->
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}