{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- Heading -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-4">
            <h2 class="logo-font"><i class="fas fa-bookmark reabook-logo"></i> {% if prop %}{{ prop.house_no }} {{ prop.street }} <span class="reabook-logo">|</span> {{ prop.city }}{% else %} Property Details{% endif %}</h2>
            <hr class="w-50 mb-2">
        </div>
    </div>
        {% if user.is_authenticated %}
            {% if user == prop.realtor or user.is_superuser %}
        <div class="col-12 col-md-6 col-lg-8 offset-lg-2 py-3 w-100 border bg-light" style="border-radius: 25px;">
                <div class="text-center">
                    <p>
                        Logged in User : {{ user.id }} - {{ user.first_name }} {{ user.last_name }}
                        <br>
                        Managing Agent : {{ prop.realtor }}<br>
                    </p>
                    <a href="{% url 'edit-property' prop.id %}">
                        <input type="submit" class="btn btn-warning text-uppercase float Left" value="Edit Listing">
                    </a>
                    <a href="{% url 'add-property' user.id %}">
                        <input type="submit" class="btn btn-warning text-uppercase float Left" value="Create Listing">
                    </a>
                    <a href="{% url 'manage-properties' user.id %}">
                        <input type="submit" class="btn btn-warning text-uppercase float Left" value="Manage Properties">
                    </a>
                </div>
                {% endif %}
            {% endif %}
        </div>
    <!-- Property Container -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <!-- Card top with image -->
            <div class="image-container my-5 text-center">
                {% if prop.main_image %}
                    <a href="{{ prop.main_image.url }}" target="_blank">
                        <img class="card-img-top img-fluid rounded img-thumbnail w-75" src="{{ prop.main_image.url }}" alt="{{ property.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid rounded img-thumbnail w-75" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                    </a>
                {% endif %}
            </div>
        </div>
        
        <!-- property details section  -->
        <div class="col-12 col-md-6 col-lg-4 ml-lg-0 ml-5">
            <div class="property-details-container mb-5 mt-md-5">
                <div class="row">
                    <div class="prop-details-container mb-5 col-12">
                        <h2 class="mb-0">{{ prop.name }}</h2>
                        {% if prop.category.pk == 1 %}
                            <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Property for Sale.
                                <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>{{ prop.sale_price|intcomma }}</strong>
                                <br><small>Listed: {{ prop.list_date }}</small>
                                {% include 'includes/property-icons.html' %}
                            </p>
                        {% elif prop.category.pk == 2 %}
                            <p class="fw-lighter fs-6"><i class="fas fa-tasks reabook-logo"></i> Property for Rent:
                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw|intcomma }}</strong> /wk
                                <br><small>Available: {{ prop.date_available }}</small>
                                {% include 'includes/property-icons.html' %}
                            </p>
                        {% else %}
                            <p class="fw-lighter fs-6"><i class="fa-solid fa-scroll reabook-logo"></i> Space for Lease:
                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw|intcomma }}</strong> /wk
                                <br><small>Available: {{ prop.date_available }}</small>
                                {% include 'includes/property-icons.html' %}
                            </p>
                        {% endif %}
                        {% if prop.rating %}
                            <small class="text-muted"><i class="fas fa-star mr-1 reabook-logo"></i>{{ prop.rating }} / 5</small>
                        {% else %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                        <p class="mt-3">{{ prop.description }}</p>
                    </div>
                </div>
                <!-- Buttons -->
                <div class="row">
                    <div class="col-10 col-lg-12">
                        <a href="mailto:test@test.com?subject=New Agent Information" aria-label="open email program to send" target="_blank">
                            <button class="btn btn-outline-reabook text-uppercase mt-1 w-100">Contact Agent</button>
                        </a>
                        {% if prop.viewings and user.is_authenticated %}
                        <a href="{% url 'booking-detail' prop.id %}" aria-label="open email program to send">
                            <button class="btn btn-outline-reabook text-uppercase mt-1 w-100">Book Viewing</button>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Images Section -->
    <div class="row">
        <div class="col-12">
            <hr class="my-2 w-50">
            <div class="row">
                <div class="col-lg-2 col-0"></div>
                <div class="col-lg-10 col-12">
                    <div class="row">
                        <div class="col-lg-2 col-12 image-container ml-2 my-1 text-center">
                            {% if prop.living_image %}
                                <a href="{{ prop.living_image.url }}" target="_blank">
                                    <img class="img-fluid rounded img-thumbnail" src="{{ prop.living_image.url }}" alt="living_image">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid rounded img-thumbnail" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-12 image-container ml-2 my-1 text-center">
                            {% if prop.kitchen_image %}
                                <a href="{{ prop.kitchen_image.url }}" target="_blank">
                                    <img class="img-fluid rounded img-thumbnail" src="{{ prop.kitchen_image.url }}" alt="kitchen_image">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid rounded img-thumbnail" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-12 image-container ml-2 my-1 text-center">
                            {% if prop.bedroom_image %}
                                <a href="{{ prop.bedroom_image.url }}" target="_blank">
                                    <img class="img-fluid rounded img-thumbnail" src="{{ prop.bedroom_image.url }}" alt="bedroom_image">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid rounded img-thumbnail" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-12 image-container ml-2 my-1 text-center">
                            {% if prop.bath_image %}
                                <a href="{{ prop.bath_image.url }}" target="_blank">
                                    <img class="img-fluid rounded img-thumbnail" src="{{ prop.bath_image.url }}" alt="bath_image">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid rounded img-thumbnail" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 col-12 image-container ml-2 my-1 text-center">
                            {% if prop.main_image %}
                                <a href="{{ prop.main_image.url }}" target="_blank">
                                    <img class="img-fluid rounded img-thumbnail" src="{{ prop.main_image.url }}" alt="main_image">
                                </a>
                            {% else %}
                                <a href="">
                                    <img class="img-fluid rounded img-thumbnail" src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png" alt="{{ property.name }}" aria-label="placeholder for no image">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-0"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}