{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<!-- <div class="col-md-6 col-sm-12 text-center"> -->
    <h1>Thanks {{ f_name }}!</h1>
    <h5>This information has been received and emailed to the registered managing agent.</h5>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <small class="text-muted">
                <p>You should receive a conformation email shortly and a quick call from their offices to confirm your appointment in the coming days.</p>
            </small>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <h5>Booking Details</h5><hr>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-left">
            <strong>Booking Ref:</strong> {{ booking_id }}
            <br><strong>Property Id :</strong> {{ prop.id }}
            <br><strong>Property :</strong> {{ prop.house_no }} {{ prop.street }}, {{ prop.suburb }} {{ prop.postcode }}
            <br><strong>Date Requested:</strong> {{ date_of_viewing }} <strong>at</strong> {{ time_of_viewing }}</strong>
            <br><strong>Your Name:</strong> {{ f_name }} {{ l_name }}
            <br><strong>Email:</strong> {{ client_email }}, 
            <br><strong>Phone:</strong> +{{ client_country }} {{ client_phone }}
            <br><strong>Your City:</strong> {{ client_city }}, {{ client_state }} {{ client_zip }}
            <br><strong>Message:</strong>
            <Br>{{ client_message }}<hr>
                <div class="text-muted">
                    <small>Referral permissions: {{ contact_ok }}  |  Form submitted: {{ date_submitted }} </small>
                </div>
            
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row my-3">
        <div class="col-lg-3"></div>
        <div class="col-lg-8">
            <a href="{% url 'user_diary' %}">
                <button class="btn btn-outline-reabook float-right mx-1">My Diary</button>
            </a>
            <a href="{% url 'properties' %}">
                <button class="btn btn-outline-reabook float-right mx-1">Search Again</button>
            </a>
            
        </div>
        <div class="col-lg-1"></div>
    </div>
    
    
<!-- </div> -->
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
