{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/bookings-base.html' %}
<div class="row justify-content-center">
    <div class="col-md-12 text-center mb-md-5 h-100">
        <!-- <h4 class="heading-section">ReaBook Viewings</h4> -->
        <div class="progress">
            <div class="progress-bar bg-green" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <div class="w-100">
            <!-- Select viewings available in selected properties -->
            <div class="card mt-3">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn w-100" type="button">
                            <span class="accordion-number float-left">3.</span>
                            <span class="accordion-text-heading">Complete Booking Details</span>
                        </button>
                    </h2>
                </div>
                <div>
                    <div class="card-body row">
                        <div class="col-lg-12">
                            
                            <ul class="nav nav-tabs">
                                <li class="nav-item accordion-text-heading">Booking Summary</li>
                            </ul>

                            {% for prop in props_with_viewings %}
                            <div class="row my-3">
                                <div class="col-lg-2">
                                    {% if prop.main_image %}
                                    <a href="{{ prop.main_image.url }}" target="_blank">
                                        <img class="card-img-top img-fluid rounded img-thumbnail w-100"
                                            src="{{ prop.main_image.url }}" alt="{{ property.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid rounded img-thumbnail w-100"
                                            src="https://res.cloudinary.com/yodakode/image/upload/media/noimage_448px_axbj9j.png"
                                            alt="{{ property.name }}">
                                    </a>
                                    {% endif %}
                                </div>
                                <div class="col-lg-10">
                                    <table class="table table-hover text-lg-left font-weight-light">
                                        <thead>
                                            <tr>
                                                <th scope="col">Date of Booking</th>
                                                <th scope="col">Time</th>
                                                <th scope="col">Location</th>
                                                <th scope="col">Length</th>
                                                <th scope="col">Agent</th>
                                            </tr>
                                        </thead>
                                        <tbody class="font-weight-light">
                                            {% for slot in slots %}
                                            {% for booking in bookings %}

                                            <tr>
                                                <td class="row-hlink pt-3">{{ booking.date }}</td>
                                                <td class="row-hlink pt-3">{{ slot.start_time }}</td>
                                                <td class="row-hlink pt-3">{{ prop.house_no }} {{ prop.street }}<br>{{ prop.suburb }}&nbsp;{{ prop.postcode }}<br>{{ prop.city }}</td>
                                                <td class="row-hlink pt-3">{{ slot.friendly_name }}</td>
                                                <td class="row-hlink pt-3">{{ prop.realtor }}</td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <a href="#" class="row-hlink float-right">
                                        <button class="btn btn-outline-reabook my-lg-0 my-sm-0" type="submit">Submit Booking</button>
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                            <div>
                                <p>enter_customer_details</p>
                            </div>
                            <div>
                                then back to my-bookings.html
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/bookings-base-calendar.html' %}

{% endblock %}

{% block postloadjs %}
<!-- To include the parent block -->
{{ block.super }}

{% endblock %}