{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<!-- <div class="col-md-6 col-sm-12 text-center"> -->
    <h1>booking-success.html</h1>
    <h5>This information has been emailed to the Land Agent of the property</h5>
    <p>You should receive a conformation call soon.</p>
    <p>This is typically within two business days, depending on location</p>
    <p>Property: {{ property_id }}</p>
    <p>Date: {{ date }}</p>
    <p>Time: {{ time }}</p>
    <p>First Name: {{ f_name }}</p>
    <p>last Name: {{ l_name }}</p>
    <p>Email: {{ client_email }}</p>
    <p>Number: +{{ client_country }} {{ client_phone }}</p>
    <p></p>
    <p>City: {{ client_city }}</p>
    <p>Zip: {{ client_zip }}</p>
    <p>Message: {{ client_message }}</p>
    <p>Date Requested: {{ date_submitted }}</p>
    <p>Referrals? : {{ contact_ok }}</p>
<!-- </div> -->
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
