{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<h1>Bookings Page Header</h1>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font"><i class="fas fa-bookmark reabook-logo"></i> Book to Inspect Properties</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
</div>
{% endblock %}