{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container-subpages">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="logo-font"><i class="fa-solid fa-book-bookmark reabook-logo"></i> <span class="text-black">Rea</span>Book Inspections</h2>
            <hr class="w-50 mb-4">
        </div>
    </div>

    <div class="row mb-2">
        <!-- Navigation col-3 -->
        <div class="col-lg-3 col-xl-3 pr-3 bg-info" id="bookingsHeaderSearchBar">
            <h4 class="heading-section text-center font-weight-light">Heading</h4>
            <div class="list-group list-group list-group-flush text-lg-right">
                <a href="{% url 'choose_bookings' %}">
                    <button type="button" class="list-group-item list-group-item-action">Book Inspection  <i class="fa-solid fa-clipboard-list"></i></button>
                </a>
                <a href="{% url 'my_bookings' %}">
                    <button type="button" class="list-group-item list-group-item-action">My Inspections  <i class="fas fa-book-bookmark"></i></button>
                </a>
                <a href="#">
                    <button type="button" class="list-group-item list-group-item-action">My Communications  <i class="fa-regular fa-comment-dots"></i></button>
                </a>
                <a href="#">
                    <button type="button" class="list-group-item list-group-item-action">My Profile  <i class="fa-solid fa-user"></i></button>
                </a>
                <a href="#">
                    <button type="button" class="list-group-item list-group-item-action" disabled>Lease / Sell  <i class="fa-solid fa-gavel"></i></button>
                </a>
              </div>
        </div>

        <!-- Booking Content col-6</div> -->
        <div class="col-md-6 col-sm-12 text-center">
            <h2 class="heading-section">...Bookings Base Template...</h2>
        </div>
        <!-- User Calendar -->
        <div class="col-sm-12 col-md-6 col-lg-3 pl-5 bg-warning">User Calendar col-3</div>
    </div>
</div>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="myList" role="tablist">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="home" role="tabpanel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolorem illo amet beatae, possimus, ex dolore officiis ratione accusantium recusandae dolorum magnam, rerum quas culpa numquam ullam? Numquam, aut rem.</div>
            <div class="tab-pane fade" id="profile" role="tabpanel">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum corrupti, minima molestiae provident rem consectetur fugiat neque dignissimos molestias natus, adipisci nemo! Veritatis, porro ducimus. Ad quae iure tempora possimus?</div>
            <div class="tab-pane fade" id="messages" role="tabpanel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ea ut harum ratione? Rerum esse maxime sit asperiores dolorem ratione tenetur atque temporibus hic. Dolorem modi est reprehenderit. Obcaecati, magni?</div>
            <div class="tab-pane fade" id="settings" role="tabpanel">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam sed harum illum animi nesciunt sapiente, dolorum repudiandae, hic aperiam perferendis, voluptatibus esse quibusdam voluptates alias aut eveniet non asperiores ad?</div>
        </div>
    </div>
</div>

<script>
    $('#myList a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
</script>
{% endblock %}