{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container-subpages">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h2 class="logo-font"><i class="fa-solid fa-book-bookmark reabook-logo"></i> <span class="text-black">Rea</span>Book Inspections</h2>
            <hr class="w-50 mb-4">
        </div>
    </div>

    <div class="row mb-2">
        <!-- Navigation col-3 -->
        <div class="col-lg-3 col-xl-3 pr-3 bg-info" id="bookingsHeaderSearchBar">
            <h4 class="heading-section text-center font-weight-light">Heading</h4>
            <div class="list-group list-group list-group-flush text-lg-right">
                <a href="{% url 'choose_bookings' %}" >
                    <button type="button" class="list-group-item list-group-item-action">Book Inspection  <i class="fa-solid fa-clipboard-list"></i></button>
                </a>
                <a href="{% url 'my_bookings' %}">
                    <button type="button" class="list-group-item list-group-item-action">My Inspections  <i class="fas fa-book-bookmark"></i></button>
                </a>
                <button type="button" class="list-group-item list-group-item-action">My Communications  <i class="fa-regular fa-comment-dots"></i></button>
                <button type="button" class="list-group-item list-group-item-action">My Profile  <i class="fa-solid fa-user"></i></button>
                <button type="button" class="list-group-item list-group-item-action" disabled>Lease / Sell  <i class="fa-solid fa-gavel"></i></button>
              </div>
        </div>

        <!-- Booking Content col-6</div> -->
        <div class="col-md-6 col-sm-12 text-center">
            <div class="row justify-content-center">
				<div class="col-md-12 text-center mb-md-5 h-100">
					<h2 class="heading-section">Choose Property</h2>
                    <div class="progress ">
                        <div class="progress-bar bg-green" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p>search header</p>
                    <div class="row mb-3">
                        <div class="col-md-12 col-lg-4">
                            <div class="list-group list-group-flush" id="list-tab" role="tablist">
                                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Property 1</a>
                                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Property 2</a>
                                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Property 3</a>
                                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Property 4</a>
                                <a class="list-group-item list-group-item-action" id="property-n-list" data-toggle="list" href="#property-n" role="tab" aria-controls="settings">Property n...</a>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-8">
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active bg-success" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                                    <p class="col-12">Property 1 content detail</p>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <a href="">
                                                <img class="img-thumbnail w-lg-100 w-md-75 mb-2" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}">
                                            </a>
                                        </div>
                                        <div class="col-md-8 col-sm-12 pr-3 text-left">
                                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere maxime esse beatae ullam ex magni molestiae quaerat minus et nemo aliquam quidem vero, officia sed odit officiis eveniet in adipisci.</p>
                                            <div class="text-right mr-md-4 my-1 mx-sm-1">
                                                <button class="btn col-md-4 col-sm-12 bg-clear pull-left">View</button>
                                                <button class="btn col-md-4 col-sm-12 bg-green text-bone pull-right">Book</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Property 2 content detail</div>
                                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Property 3 content detail</div>
                                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Property 4 content detail</div>
                                <div class="tab-pane fade" id="property-n" role="tabpanel" aria-labelledby="property-n-list">Property 'N' content detail</div>
                            </div>
                        </div>
                    </div>
				</div>
			</div>
        </div>
        <!-- User Calendar -->
        <div class="col-sm-12 col-md-6 col-lg-3 pl-5 bg-warning">User Calendar col-3</div>
    </div>
</div>
{% endblock %}