{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<div class="row">
    <div class="col-md-12 text-center mb-md-5 h-100">

        <h2 class="heading-section">My Properties to View</h2>
        <div class="progress my-3">
            <div class="progress-bar bg-green" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="row mb-3">
            <div class="col text-lg-left">
                <div class="list-group list-group-flush" id="list-tab" role="tablist">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Property</th>
                                <th scope="col">Time</th>
                                <th scope="col">Date</th>
                                <th scope="col">Location</th>
                            </tr>
                        </thead>
                        <tbody class="font-weight-light">
                            {% for prop in props_available_to_view %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ prop.name }}</td>
                                    <td>{{ prop.booking_time }}</td>
                                    <td>{{ prop.booking_date }}</td>
                                    <td>{{ prop.booking_location }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row">1</th>
                                <td>Bakers Delight</td>
                                <td>12:30</td>
                                <td>23/10/22</td>
                                <td>Bournville</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Fishermans Wharf</td>
                                <td>15:45</td>
                                <td>23/10/22</td>
                                <td>Perthshire</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>09:15</td>
                                <td>23/10/22</td>
                                <td>Mars</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a href="{% url 'choose_bookings' %}" aria-label="">
                            <button class="btn btn-outline-reabook float-right mr-3" >Book Viewings</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}
