{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% include 'includes/bookings-base.html' %}

    <div class="row justify-content-center">
        <div class="col-12 my-auto">
            <h2 class="display-5 logo-font">
                Future Feature
            </h2>
            <div class="mt-4 mb-0">
                <h4>
                    <a href="{% url 'home' %}">
                        <button type="button" class="btn btn-primary">Return Home</button>
                    </a>
                </h4>
            </div>
            <div class="col-12 w-100">
                <a href="{% url 'home' %}" aria-label="Designed by pch.vector / Freepik">
                    <img class="w-50" src="https://res.cloudinary.com/yodakode/image/upload/media/by_pch.vector_Freepik_8349_ssycbt.jpg" alt="Under Construction">
                </a>
            </div>
        </div>
    </div>

{% include 'includes/bookings-base-calendar.html' %}
{% else %}
    {% include 'includes/account-required.html' %}
{% endif %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
