{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/bookings-base.html' %}
<div class="row justify-content-center">
    <div class="col-md-12 text-center mb-md-5 h-100">
        <!-- <h4 class="heading-section">ReaBook Viewings</h4> -->
        <div class="progress">
            <div class="progress-bar bg-green" role="progressbar" style="width: 66%" aria-valuenow="66"
                aria-valuemin="0" aria-valuemax="100">Step 2 / 3</div>
        </div>
        <div class="w-100">
            <!-- Select viewings available in selected properties -->
            <div class="card mt-3">
                <div class="card-header" id="headingTwo">
                    <div class="row">
                        <div class="col-3">
                            {% if prop.main_image %}
                                    <a href="{{ prop.main_image.url }}" target="_blank">
                                        <img class="card-img-top img-fluid rounded img-thumbnail w-100"
                                            src="{{ prop.main_image.url }}" alt="{{ property.name }}">
                                    </a>
                                    {% else %}
                                    <a href="">
                                        <img class="card-img-top img-fluid rounded img-thumbnail w-100"
                                            src="https://res.cloudinary.com/yodakode/image/upload/ReaBook/noimage_448px_axbj9j.png"
                                            alt="{{ property.name }}">
                                    </a>
                                    {% endif %}
                        </div>
                        <div class="col-9">
                            <h2 class="mb-3 text-left">
                                <span>{{ prop.house_no }} {{ prop.street }}
                                    <span class="reabook-logo">&nbsp;|&nbsp;</span>
                                    <span class="text-muted">{{ prop.suburb }}</span>
                                </span>
                            </h2>
                            <h5 class="mb-1 text-left">{{ prop.name }}</h5>
                            <div class="row">
                                <div class="col-4 pr-0 pl-3 text-left">
                                        {% if prop.category.pk == 1 %}
                                            <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Property for Sale.
                                                <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>{{ prop.sale_price }}</strong>
                                                <br><small>Listed: {{ prop.list_date }}</small>
                                                {% include 'includes/property-icons.html' %}
                                                <br>
                                                {% if prop.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1 reabook-logo"></i>{{ prop.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </p>
                                        {% elif prop.category.pk == 2 %}
                                            <p class="fw-lighter fs-6"><i class="fas fa-tasks reabook-logo"></i> Property for Rent:
                                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw }}</strong> /wk
                                                <br><small>Available: {{ prop.date_available }}</small>
                                                {% include 'includes/property-icons.html' %}
                                                <br>
                                                {% if prop.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1 reabook-logo"></i>{{ prop.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </p>
                                        {% else %}
                                            <p class="fw-lighter fs-6"><i class="fa-solid fa-scroll reabook-logo"></i> Space for Lease:
                                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ prop.rent_pw }}</strong> /wk
                                                <br><small>Available: {{ prop.date_available }}</small>
                                                {% include 'includes/property-icons.html' %}
                                                <br>
                                                {% if prop.rating %}
                                                    <small class="text-muted"><i class="fas fa-star mr-1 reabook-logo"></i>{{ prop.rating }} / 5</small>
                                                {% else %}
                                                    <small class="text-muted">No Rating</small>
                                                {% endif %}
                                            </p>
                                        {% endif %}
                                </div>
                                <div class="col-8 px-0 text-left">
                                    <p class="mt-0">{{ prop.description }}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div>
                    <div class="card-body row">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs"></ul>
                            <div class="row my-3">
                                <div class="col-lg-12">

                                    <!-- Booking Submission form -->
                                    <form action="{% url 'client_bookings' %}" method="POST" class="text-align-left">
                                        {% csrf_token %}

                                        <h4>Choose Upcoming Viewings</h4>

                                        <!-- Calendar -->
                                        <div class="col-12 pl-4 border border-warning">
                                            <div class="calendar-container">
                                                <div class="calendar">
                                                    <div class="year-header">
                                                        <span class="left-cal-button fa fa-chevron-left" id="prev">
                                                        </span>
                                                        <span class="year" id="label">2022</span>
                                                        <span class="right-cal-button fa fa-chevron-right" id="next">
                                                        </span>
                                                    </div>

                                                    <table class="months-table my-1 w-100">
                                                        <tbody>
                                                            <tr class="months-row">
                                                                <td class="month">Jan</td>
                                                                <td class="month">Feb</td>
                                                                <td class="month">Mar</td>
                                                                <td class="month">Apr</td>
                                                                <td class="month">May</td>
                                                                <td class="month">Jun</td>
                                                                <td class="month">Jul</td>
                                                                <td class="month">Aug</td>
                                                                <td class="month active-month">Sep</td>
                                                                <td class="month">Oct</td>
                                                                <td class="month">Nov</td>
                                                                <td class="month">Dec</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                    <table class="days-table w-100">
                                                        <tbody>
                                                            <tr>
                                                                <td class="day">Sun</td>
                                                                <td class="day">Mon</td>
                                                                <td class="day">Tue</td>
                                                                <td class="day">Wed</td>
                                                                <td class="day">Thu</td>
                                                                <td class="day">Fri</td>
                                                                <td class="day">Sat</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div class="frame">
                                                        <table class="dates-table w-100">
                                                            <tbody class="tbody">
                                                                <tr class="table-row"></tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date">1</td>
                                                                    <td class="table-date">2</td>
                                                                    <td class="table-date">3</td>
                                                                </tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date">4</td>
                                                                    <td class="table-date">5</td>
                                                                    <td class="table-date">6</td>
                                                                    <td class="table-date active-date">7</td>
                                                                    <td class="table-date">8</td>
                                                                    <td class="table-date">9</td>
                                                                    <td class="table-date">10</td>
                                                                </tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date">11</td>
                                                                    <td class="table-date">12</td>
                                                                    <td class="table-date">13</td>
                                                                    <td class="table-date">14</td>
                                                                    <td class="table-date">15</td>
                                                                    <td class="table-date">16</td>
                                                                    <td class="table-date">17</td>
                                                                </tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date">18</td>
                                                                    <td class="table-date">19</td>
                                                                    <td class="table-date">20</td>
                                                                    <td class="table-date">21</td>
                                                                    <td class="table-date">22</td>
                                                                    <td class="table-date">23</td>
                                                                    <td class="table-date">24</td>
                                                                </tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date">25</td>
                                                                    <td class="table-date">26</td>
                                                                    <td class="table-date">27</td>
                                                                    <td class="table-date">28</td>
                                                                    <td class="table-date">29</td>
                                                                    <td class="table-date">30</td>
                                                                    <td class="table-date nil"></td>
                                                                </tr>
                                                                <tr class="table-row">
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                    <td class="table-date nil"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- <button class="button float-right my-2 btn-outline-reabook" id="add-button">Book Inspection</button> -->
                                                </div>
                                            </div>
                                            <hr class="mt-5">
                                            <div class="events-container">
                                                <div class="cal-event-card">
                                                    <p class="event-name">There are no viewings planned for January
                                                        6.</p>
                                                </div>
                                            </div>
                                            <!-- <div class="dialog" id="dialog">
                                                        <h2 class="dialog-header"> Add New Event </h2>
                                                        <form class="form" id="form">
                                                          <div class="form-container" align="center">
                                                            <label class="form-label" id="valueFromMyButton" for="name">Event name</label>
                                                            <input class="input" type="text" id="name" maxlength="36">
                                                            <label class="form-label" id="valueFromMyButton" for="count">Number of people to invite</label>
                                                            <input class="input" type="number" id="count" min="0" max="1000000" maxlength="7">
                                                            <input type="button" value="Cancel" class="button" id="cancel-button">
                                                            <input type="button" value="OK" class="button button-white" id="ok-button">
                                                          </div>
                                                        </form>
                                                      </div> -->
                                        </div>

                                        <div class="row mt-3 radio-wrapper">
                                            <div class="col-lg-4 mx-0">
                                                Morning
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-1">
                                                    <label for="time-slot-1" class="mb-0">9:30 AM</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-1"
                                                        value="930" checked="checked" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-2">
                                                    <label for="time-slot-2" class="mb-0">10:00 am</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-2"
                                                        value="1000" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-3">
                                                    <label for="time-slot-3" class="mb-0">10:30 am</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-3"
                                                        value="1030" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-4">
                                                    <label for="time-slot-4" class="mb-0">11:00 am</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-4"
                                                        value="1100" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mx-0">
                                                Afternoon
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-5">
                                                    <label for="time-slot-5" class="mb-0">1:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-5"
                                                        value="1300" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-6">
                                                    <label for="time-slot-6" class="mb-0">1:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-6"
                                                        value="1330" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-7">
                                                    <label for="time-slot-7" class="mb-0">2:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-7"
                                                        value="1400" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-8">
                                                    <label for="time-slot-8" class="mb-0">2:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-8"
                                                        value="1430" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-9">
                                                    <label for="time-slot-9" class="mb-0">3:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-9"
                                                        value="1500" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-10">
                                                    <label for="time-slot-10" class="mb-0">3:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-10"
                                                        value="1530" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-11">
                                                    <label for="time-slot-11" class="mb-0">4:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-11"
                                                        value="1600" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mx-0">
                                                Evening
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-12">
                                                    <label for="time-slot-12" class="mb-0">5:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-12"
                                                        value="1700" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-13">
                                                    <label for="time-slot-13" class="mb-0">5:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-13"
                                                        value="1730" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-12">
                                                    <label for="time-slot-12" class="mb-0">6:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-12"
                                                        value="1800" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-13">
                                                    <label for="time-slot-13" class="mb-0">6:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-13"
                                                        value="1830" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-12">
                                                    <label for="time-slot-12" class="mb-0">7:00 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-12"
                                                        value="1900" />
                                                </div>
                                                <div class="form-selectable-label text-center time-slot w-100 my-2"
                                                    data-input="#time-slot-13">
                                                    <label for="time-slot-13" class="mb-0">7:30 pm</label>
                                                    <input class="sr-only" type="radio" name="time" id="time-slot-13"
                                                        value="1930" />
                                                </div>
                                            </div>
                                        </div>
                                        <h2 class="mt-5">Your Details</h2>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4">Email</label>
                                                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" autocomplete="off">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4">Password</label>
                                                <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Address</label>
                                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress2">Address 2</label>
                                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputCity">City</label>
                                                <input type="text" class="form-control" id="inputCity">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputState">State</label>
                                                <select id="inputState" class="form-control">
                                                    <option selected>Choose...</option>
                                                    <option>...</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="inputZip">Zip</label>
                                                <input type="text" class="form-control" id="inputZip">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                                <label class="form-check-label" for="gridCheck">
                                                    Check me out
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign in</button>

                                        <h2 class="mt-5">Confirm Booking</h2>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/bookings-base-calendar.html' %}

{% endblock %}

{% block postloadjs %}
<!-- To include the parent block -->
{{ block.super }}

{% endblock %}