{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<!-- <div class="col-md-6 col-sm-12 text-center"> -->
    <h1>test.html</h1>
    <p>Login Form </p>

    {% if submitted == True %}
        <p>Your booking was submitted successfully!!</p>
    {% else %}
        <form id="test_form" method="post" action="">
            {% csrf_token %}
            {{ login_form.as_p }}
            <input type="submit" name="submit" value="Login" class ="btn btn-primary" />
        </form>
    {% endif %}

<!-- </div> -->
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}