{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<!-- <div class="col-md-6 col-sm-12 text-center"> -->
    <h1>test.html</h1>
    <p>Booking Form </p>

    <form id="test_form" method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Add Task" class ="btn btn-primary" />
    </form>
<!-- </div> -->
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}