{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/bookings-base.html' %}
<!-- <div class="col-md-6 col-sm-12 text-center"> -->
    <h1>test.html</h1>
    <p>Booking Success</p>

    <div>
        <div class="card-body row">
            <div class="col-lg-12">
                <h1>Thanks {{ prop.street }}!</h1>
                <!-- <ul class="nav nav-tabs"></ul> -->
                <div class="row my-3">
                    <div class="col-lg-12">
                        Property ID: {{ prop }}
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- </div> -->
{% include 'includes/bookings-base-calendar.html' %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}