{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}

{% include 'includes/bookings-base.html' %}
    <div class="row-lg-12 justify-content-center">
        <h2>{{ booking.property_id.house_no }} {{ booking.property_id.street }}, {{ booking.property_id.suburb }} {{ booking.property_id.postcode }}</h2>
        <p>details for your upcoming appointment</p>
        <hr class="w-50 my-4">
        <p><strong>Booking Ref</strong> : {{ booking.id }}/{{ booking }}</p>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 text-left">
                <strong>Name</strong> : {{ booking.f_name }} {{ booking.l_name }}
                <br><strong>Email</strong> : {{ booking.client_email }}
                <br><strong>Phone</strong> : +{{ booking.client_country }} {{ booking.client_phone }}
                <br><strong>Messages</strong> : {{ booking.client_message }}
                <br><strong>Referrals Permitted</strong> : {{ booking.contact_ok }}
            </div>
            <div class="col-md-6 text-left">
                <strong>Address of Viewing</strong> :<br> {{ booking.property_id.house_no }} {{ booking.property_id.street }}, {{ booking.property_id.suburb }} {{ booking.property_id.postcode }}
                <br><strong>Date of Viewing</strong> : {{ booking.date_of_viewing }}
                <br><strong>Time of Viewing</strong> : {{ booking.time_of_viewing }}
                <br><strong>Estate Agent</strong> : {{ booking.property_id.realtor }}
            </div>
            <div class="col-lg-12">
                <hr class="w-50 my-4">
                <h3 class="mb-4">Update these Details</h3>
                <form action="{% url 'update-booking' booking.id %}" method="POST" class="text-left border p-3">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-4 mb-3 mx-0">
                            <label>First name</label>
                            {{ booking_form.f_name }}
                        </div>
                        <div class="col-md-4 mb-3 mx-0">
                            <label>Last name</label>
                            {{ booking_form.l_name }}
                        </div>
                        <div class="col-md-4 mb-3 mx-0">
                            <label>Username</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-user-tag"></i></span>
                                </div>
                                {{ booking_form.client_username }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip03">Email Address</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
                                </div>
                                {{ booking_form.client_email }}
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationTooltip04">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-phone"></i></span>
                                </div>
                                {{ booking_form.client_phone }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3 mx-0">
                            <label>Date of Viewing</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
                                </div>
                                {{ booking_form.date_of_viewing }}
                            </div>
                        </div>
                        <div class="col-md-3 mb-3 mx-0">
                            <label>Time of Viewing</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
                                </div>
                                {{ booking_form.time_of_viewing }}
                            </div>
                            
                        </div>
                        <div class="col-md-6 mb-3 mx-0">
                            <label>Quick Message</label>
                            {{ booking_form.client_message }}
                        </div>
                    </div>
                    <p><label>Permission given to refer for other Properties</label> {{ booking_form.contact_ok }} </p>
                    <button class="btn btn-warning text-uppercase" type="submit">Update Details</button>
                    <button type="button" class="btn btn-outline-danger text-uppercase ml-1" data-toggle="modal" data-target="#deleteBookingModalCenter">Delete Booking</button>
                </form>
                
            </div>
        </div>
    </div>

    <!-- Delete Booking Modal -->
    <div class="modal fade" id="deleteBookingModalCenter" tabindex="-1" role="dialog" aria-labelledby="deleteBookingModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-center" id="deleteBookingModalTitle">Are you sure you want to do this?
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h1>
                        <i class="fa-solid fa-triangle-exclamation"></i>
                    </h1>
                    <p>All data will be permanently deleted and lost forever!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No Thanks</button>
                    <a href="{% url 'delete-booking' booking.id %}">
                        <button type="button" class="btn btn-danger text-uppercase">Confirm Deletion</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% include 'includes/bookings-base-calendar.html' %}
{% else %}
    {% include 'includes/account-required.html' %}
{% endif %}
{% endblock %}
{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
