{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
{% include 'includes/bookings-base.html' %}

    <div class="row-lg-12 justify-content-center">
        <h2>{{ booking.property_id.house_no }} {{ booking.property_id.street }}, {{ booking.property_id.suburb }} {{ booking.property_id.postcode }}</h2>
        <p>details for upcoming appointments</p>
        <div class="row">
            <div class="col-lg-12">
                <br>
                Booking Ref : {{ booking.id }}/{{ booking }}
                <br>
                Name : {{ booking.client.f_name }} {{ booking.client.l_name }}
                <br>
                Email : {{ booking.client.client_email }}
                <br>
                Phone : +{{ booking.client.client_country }} {{ booking.client.client_phone }}
                <br>
                Address of Viewing : {{ booking.property_id.house_no }} {{ booking.property_id.street }}, {{ booking.property_id.suburb }} {{ booking.property_id.postcode }}
                <br>
                Date of Viewing : {{ booking.date_of_viewing }}
                <br>
                Time of Viewing : {{ booking.time_of_viewing }}
                <br>
                Messages : {{ booking.client_message }}
                <br>
                Referrals Permitted : {{ booking.client.contact_ok }}
                <br>
                <a href="#">
                    Edit / Update
                </a>
                Edit / Update
                <br>
                Delete
                <br>
                Create New Booking
            </div>
        </div>

    </div>
    <p>update-booking.html...</p>

{% include 'includes/bookings-base-calendar.html' %}
{% else %}
    {% include 'includes/account-required.html' %}
{% endif %}
{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    

{% endblock %}
