html {
    height: 100%;
}

input:focus::placeholder {
    color: transparent;
  }

.masthead {
    position: relative;
    background-color: #343a40;
    /* background: url("https://res.cloudinary.com/yodakode/image/upload/v1660294528/samples/landscapes/architecture-signs.jpg") no-repeat center center fixed; */
    /* background: url("https://res.cloudinary.com/yodakode/image/upload/v1661799738/ReaBook/swimming-1661799586393-8852_kktuso.jpg") no-repeat top center fixed; */
    background: url("https://res.cloudinary.com/yodakode/image/upload/v1661965930/ReaBook/breno-assis-r3WAWU5Fi5Q-unsplash_t4wvd4.jpg") no-repeat bottom center fixed;
    /* background: url("https://res.cloudinary.com/yodakode/image/upload/v1661965929/ReaBook/tiago-rodrigues-yKRdX-kY8TE-unsplash_taoxmg.jpg") no-repeat bottom center fixed; */
    /* background: url("https://res.cloudinary.com/yodakode/image/upload/v1661965929/ReaBook/evelyn-paris-QR_vT8_hBZM-unsplash_bupcq2.jpg") no-repeat bottom center fixed; */
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    font-family: 'Roboto';
  }

.masthead:before {
    content: "";
    position: absolute;
    background-color: #20514C;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
}

.masthead h1,
.masthead span,
.masthead .h1 {
font-weight: 100;
}

.masthead span {
    color: #000;
}

/* ------------ Navbar */

/* Green style to navbar search button */
.btn-outline-reabook {
    color: #20514C;
    border-color: #20514C;
}

.btn-outline-reabook:hover {
    color: #fff;
    border-color: #707070;
    background-color: #20514C;
}

/* #headerSubmitButton {
    color: #fff;
    border-color: #fff;
    background-color: #20514C;
} */

#headerSubmitButton:hover {
    color: #20514C;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
}

.reabook-logo {
    color: #20514C;
}

/* --------------- Cards */
.property-card {
    padding-top: 2.5rem;
    /* text-align: center; */
}

/* Property card ribbon */
.property-card > p {
    position: absolute;
	width: 65%;
	padding: 3px 20px 3px 10px;
	margin: 10px 10px 10px -5px;
	color: #fff;
	background-color: #20514C;
    border-radius: 0px 3px 3px 0px;
	box-shadow: 0px 1px 2px #000;
	-webkit-box-shadow: 0px 1px 2px #000;
	-moz-box-shadow: 0px 1px 2px #000;
    z-index: 2;
}

/* ------ Ribbon wrap around effect */
.property-card > p:before, 
.property-card > p:after {
	content: ' ';
	position: absolute;
}

.property-card > p:after {
	left: 0px;
	top: 100%;
	border-width: 5px 3px;
	border-style: solid;
	border-color: #000 #000 transparent transparent;
}

/* ------ Ribbon feather flag cutaway */

/* 
.property-card > p:before {
	border-width: 15px 10px;
	border-style: solid;
	border-color: #999 #999 #999 transparent;
}

.property-card > p.simple:before {
	display: none;
}

.property-card > p.ribbon:before {
	width: 0px;
	left: auto;
	right: -2px;
	top: 0px;
	border-color: transparent #fff transparent transparent;
} 
*/

.property-card a {
    opacity: 0.5;
}

.property-card a:hover {
    opacity: 1;
    transition: .5s ease;
    background-color: #20514C;

    animation-name: property-card-zoom;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes property-card-zoom {
    from{
        transform: scale(1);
    }
    to {
        transform: scale(1.02) rotate(1deg);
    }
}

/* ------------------------ Media Queries */

/* ------ Slightly larger container - min-width: 1200px - in XL screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
  }


/* ------ Med to Large container - min-width: 992px - MED Screens and UPWARDS */
/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* 
    Add 164 pixels of padding to our header container class to 
    push the body down to the bottom of the main page navbar.
    */
    .header-container {
        padding-top: 164px;
    }

    .header-container-subpages {
        padding-top: 104px;
    }
}


/* ------ Med to Large container - max-width: 991px - SML Screens and DOWNWARDS */
@media (max-width: 991px) {

    /*
    Pad the top with 116px when navbar is collapsed on mobile 
    116 is the height of the main site header on mobile.
    */
    .header-container {
        padding-top: 116px;
    }

    .header-container-subpages {
        padding-top: 75px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    .masthead h1, .masthead .h1 {
        font-size: 3rem;
    }
}
