{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block page_header %}
<!-- Masthead top title, header image and searchbar-->
<section class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center h-100">
            <div class="col-xl-7">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="display-5 logo-font text-white mb-5">Manage the search for your new home in one place.</h1>
                    <!-- <span>
                        <a class="col-2 d-inline-block text-white mt-1 mb-5">buy</a>|
                        <a class="col-2 d-inline-block text-white mt-1 mb-5">sell</a>|
                        <a class="col-2 d-inline-block text-white mt-1 mb-5">rent</a>|
                        <a class="col-2 d-inline-block text-white mt-1 mb-5">lease</a>
                    </span> -->
                    <!-- Main header search bar-->
                    <form method="GET" class="form" id="headerSearchBar">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                              <input class="form-control form-control-lg" type="search" placeholder="search for properties in your area" aria-label="Search">
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-primary btn-lg" id="headerSubmitButton" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <!-- Heading -->
    <div class="row">
        <div class="col text-center mt-5">
            <h2 class="logo-font"><i class="fas fa-bookmark reabook-logo"></i> ReaBook Today</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <!-- Central Page Container -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                
                <!-- Buy -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card index-property-card h-100 border-0 text-center">
                        <p class="ribbon">Buy Properties</p>
                        <a href="">
                            <!-- <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}"> -->
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1662052712/ReaBook/photo-1523217582562-09d0def993a6.avif_jb4l0z.png" alt="{{ property.name }}">
                        </a>
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">Hilltop Splendor</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold"></p>
                                    <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Sample Property for Sale.
                                        <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>987,654</strong>
                                        <br><small>Listed: Monday 29 August 2022</small>
                                        <br><small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small>
                                    </p>
                                    <!-- <small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small> -->
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary text-center btn-block">Inspect</a>
                        </div>
                        <!-- Import DB from other app -->
                        <!-- <p class="ribbon font-weight-light">{{ property.ribbon_feature }}</p>
                        {% if property.main_image %}
                        <a href="">
                            <img src="{{ property.main_image.url }}" alt="{{ property.name }}" class="card-img-top img-fluid">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">{{ property.name }}</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">
                                        {% if property.sale_price > 0 %}
                                            <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Property for Sale.
                                                <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>{{ property.sale_price }}</strong>
                                                <br><small>Listed: {{ property.list_date }}</small></p>
                                            </p>
                                        {% else %}
                                            <p class="fw-lighter fs-6"><i class="fas fa-tasks reabook-logo"></i> Property for Rent:
                                                <br><i class="fas fa-hand-holding-usd reabook-logo"></i> $<strong>{{ property.rent_pw }}</strong> /wk
                                                <br><small>Available: {{ property.date_available }}</small></p>
                                        {% endif %}
                                    </p>
                                    {% if property.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ property.rating }} / 5</small>
                                    {% else %}
                                    <small class="text-muted">Not Rating Yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                </div>

                <!-- Sell -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card index-property-card h-100 border-0 text-center">
                        <p class="ribbon">Sell Properties</p>
                        <a href="">
                            <!-- <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}"> -->
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1662053287/ReaBook/ralph-ravi-kayden-2d4lAQAlbDA-unsplash_wkhau3.png" alt="{{ property.name }}">
                        </a>
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">Beachside Beauty</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold"></p>
                                    <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Sample Property for Sale.
                                        <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>987,654</strong>
                                        <br><small>Listed: Monday 29 August 2022</small>
                                        <br><small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small>
                                    </p>
                                    <!-- <small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small> -->
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary text-center btn-block">List</a>
                        </div>
                    </div>
                </div>

                <!-- Rent -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card index-property-card h-100 border-0 text-center">
                        <p class="ribbon">Rent Properties</p>
                        <a href="">
                            <!-- <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}"> -->
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1662053486/ReaBook/pexels-max-vakhtbovych-6492402-squared_nwszn8.jpg" alt="{{ property.name }}">
                        </a>
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">Central Style</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold"></p>
                                    <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Sample Property for Sale.
                                        <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>987,654</strong>
                                        <br><small>Listed: Monday 29 August 2022</small>
                                        <br><small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small>
                                    </p>
                                    <!-- <small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small> -->
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary text-center btn-block">Find</a>
                        </div>
                    </div>
                </div>

                <!-- Lease -->
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                    <div class="card index-property-card h-100 border-0 text-center">
                        <p class="ribbon">Lease Spaces</p>
                        <a href="">
                            <!-- <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1661942864/ReaBook/noimage_448px_fwcaik.jpg" alt="{{ property.name }}"> -->
                            <img class="card-img-top img-fluid" src="https://res.cloudinary.com/yodakode/image/upload/v1662054656/ReaBook/jason-leung-poI7DelFiVA-unsplash_l6e6kr.png" alt="{{ property.name }}">
                        </a>
                        <div class="card-body pb-2">
                            <p class="mb-0 font-weight-bold">A Tasty Treat</p>
                        </div>
                        <div class="card-footer bg-light mt-1 bt-1">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold"></p>
                                    <p class="fw-lighter fs-5"><i class="fas fa-gavel reabook-logo"></i> Sample Property for Sale.
                                        <br><i class="fas fa-bookmark reabook-logo"></i> $<strong>987,654</strong>
                                        <br><small>Listed: Monday 29 August 2022</small>
                                        <br><small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small>
                                    </p>
                                    <!-- <small class="text-muted"><i class="fas fa-star my-auto mr-1"></i>4.8 / 5</small> -->
                                </div>
                            </div>
                            <a href="#" class="btn btn-primary text-center btn-block">Learn</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Feature Card -->
<div class="card text-center mt-5">
    <div class="card-header">
        Feature Information
    </div>
    <div class="card-body">
        <h5 class="card-title">Dreamed, Designed, Developed and Deployed by S.Roeszler</h5>
        <p class="card-text">Full Stack Framework demonstrating an appointment booking diary service to view properties available for<br>rent, sale or lease with a theoretical real-estate cooperative: <i class="fa fa-bookmark reabook-logo"></i> ReaBook</p>
        <a href="https://github.com/roeszler" class="btn btn-primary">GitHub Repo</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

<!-- Old Container -->
<div class="property-card container h-100">
    <div class="row h-100">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 my-auto">
            <h4 class="logo-font text-black">property card 1...</h4>
            <!-- Book now Button -->
            <div class="my-5">
                <p><a href="{% url 'choose_bookings' %}" class="book-now-button btn btn-lg rounded-0 text-uppercase py-3">Detail Link</a></p>
            </div>
        </div>
        <div class="col-3 col-md-3 my-auto">
            <h4 class="logo-font text-black">property card 2...</h4>
            <!-- Book now Button -->
            <div class="my-5">
                <p><a href="{% url 'choose_bookings' %}" class="book-now-button btn btn-lg rounded-0 text-uppercase py-3">Detail Link</a></p>
            </div>
        </div>
        <div class="col-3 col-md-3 my-auto">
            <h4 class="logo-font text-black">property card 3...</h4>
            <!-- Book now Button -->
            <div class="my-5">
                <p><a href="{% url 'choose_bookings' %}" class="book-now-button btn btn-lg rounded-0 text-uppercase py-3">Detail Link</a></p>
            </div>
        </div>
        <div class="col-3 col-md-3 my-auto">
            <h4 class="logo-font text-black">property card 4...</h4>
            <!-- Book now Button -->
            <div class="my-5">
                <p><a href="{% url 'choose_bookings' %}" class="book-now-button btn btn-lg rounded-0 text-uppercase py-3">Detail Link</a></p>
            </div>
        </div>
    </div>
</div>

<!-- Card Decks -->
<div class="property-card container h-100">
    <div class="row h-100">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content. This card has even longer content than the first to show that equal height
                        action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script src="static/js/scrollfade.js"></script> -->

{% endblock %}

{% block postloadjs %}
    <!-- To include the parent block -->
    {{ block.super }}
    <script src="static/js/scrollfade.js"></script>

{% endblock %}

