{% block page_header %}
<div class="container header-container-subpages">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-4">
            <h2 class="logo-font"><i class="fa-solid fa-book-bookmark reabook-logo"></i> <span class="text-black">Rea</span>Book Viewings</h2>
            <hr class="w-50 mb-4">
        </div>
    </div>

    <div class="row mb-2">
        <!-- Navigation col-3 -->
        <div class="col-lg-2 pr-3 border border-info" id="control-bar">
            <!-- <h4 class="heading-section font-weight-light">Control Bar</h4> -->
            <h5 class="logo-font"><i class="fa-solid fa-bookmark reabook-logo"></i><strong> My <span class="text-black">Rea</span>Book</strong></h5>
            <div class="list-group list-group list-group-flush text-lg-left">
                <a href="{% url 'choose_bookings' %}">
                    <button type="button" class="list-group-item list-group-item-action font-weight-light"><i class="fa-solid fa-clipboard-list reabook-logo"></i>&nbsp; Book Inspection</button>
                </a>
                <a href="{% url 'my_bookings' %}">
                    <button type="button" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fas fa-book-bookmark reabook-logo"></i>&nbsp; My Bookings</button>
                </a>
                <a href="{% url 'bookings_login' %}">
                    <button type="button" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fa-regular fa-comment-dots reabook-logo"></i>&nbsp; My Communications</button>
                </a>
                <a href="{% url 'bookings_login' %}">
                    <button type="button" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fa-solid fa-user reabook-logo"></i>&nbsp; My Profile</i></button>
                </a>
                <a href="{% url 'bookings_login' %}">
                    <button type="button" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fa-solid fa-gavel"></i>&nbsp;Lease / Sell</button>
                </a>
                </div>
        </div>

        <!-- Booking Content col-6 -->
        <div class="col-md-7 col-sm-12 text-center border border-success">