{% block page_header %}
{% endblock %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mt-4 mx-0">
            <h2 class="logo-font"><i class="fa-solid fa-people-roof reabook-logo"></i> <span class="text-black">Rea</span>Book Manager</h2>
            <hr class="w-100 mb-4">
        </div>
    </div>

    <div class="row mb-2">
        <!-- Navigation col-3 -->
        <div class="col-lg-2 pr-3 border-right" id="control-bar">
            <h5 class="logo-font"><i class="fa-solid fa-bookmark reabook-logo"></i><strong> My <span class="text-black">Rea</span>Book</strong></h5>
            <div class="list-group list-group list-group-flush text-lg-left">
                <a href="{% url 'manage-properties' user.id %}" class="list-group-item list-group-item-action font-weight-light"><i class="fas fa-people-roof reabook-logo"></i>&nbsp; Manage Properties</a>
                <a href="{% url 'user-diary' user.id %}" class="list-group-item list-group-item-action font-weight-light"><i class="fas fa-book-bookmark reabook-logo"></i>&nbsp; My Diary</a>
                <a href="{% url 'choose_bookings' %}" class="list-group-item list-group-item-action font-weight-light"><i class="fa-solid fa-clipboard-list reabook-logo"></i>&nbsp; Book a Viewing</a>
                <a href="{% url 'my-profile' user.id %}" class="list-group-item list-group-item-action font-weight-light"><i class="fa-solid fa-user reabook-logo"></i>&nbsp; My Profile</a>
                <a href="{% url 'parked' %}" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fa-regular fa-comment-dots reabook-logo"></i>&nbsp; My Communications</a>
                <a href="{% url 'parked' %}" class="list-group-item list-group-item-action font-weight-light" disabled><i class="fa-solid fa-gavel"></i>&nbsp;Lease / Sell</a>
                </div>
        </div>

        <!-- Booking Content col-8 -->
        <div class="col-lg-10 col-md-12 text-center">