<br>{% if prop.bedrooms %}
    <small class="text-muted mr-2"><i class="fa-solid fa-bed mr-1 reabook-logo"></i>{{ prop.bedrooms }}</small>
{% endif %}
{% if prop.bathrooms %}
    <small class="text-muted mr-2"><i class="fa-solid fa-bath mr-1 reabook-logo"></i>{{ prop.bathrooms }}</small>
{% endif %}
{% if prop.carports %}
    <small class="text-muted mr-2"><i class="fa-solid fa-car mr-1 reabook-logo"></i>{{ prop.carports }}</small>
{% endif %}
{% if prop.air_conditioning %}
    <small class="text-muted mr-2"><i class="fa-solid fa-snowflake mr-1 reabook-logo"></i>{{ prop.air_conditioning }}</small>
{% endif %}