<!-- Site central navigation bar ? -->

<!-- SubNavigation Bar Classes -->
<nav class="collapse navbar-collapse" id="sub-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-light nav-link text-gray mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Properties dropdown list -->
        <li class="nav-item dropdown">
            <span href="{% url 'properties' %}" class="logo-font font-weight-light nav-link text-black px-3 mr-5 auto-dropdown" id="all-properties-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Properties
            </span>
            <div class="dropdown-menu border-0" aria-labelledby="all-properties-link">
                <a href="{% url 'properties' %}?sort=price&direction=ascending" class="dropdown-item">By Price</a>
                <a href="{% url 'properties' %}?sort=rating&direction=ascending" class="dropdown-item">By Rating</a>
                <a href="{% url 'properties' %}?sort=category&direction=ascending" class="dropdown-item">By Category</a>
                <a href="{% url 'properties' %}" class="dropdown-item">All Properties</a>
            </div>
        </li>

        <!-- For Sale dropdown list -->
        <li class="nav-item dropdown">
            <span href="{% url 'properties' %}?category=for_sale" class="logo-font font-weight-light nav-link text-black px-3 mr-5 auto-dropdown" id="sale-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Sale
            </span>
            <div class="dropdown-menu border-0 text-black" aria-labelledby="sale-link">
            
                <a href="{% url 'properties' %}?category=for_sale&sector=residential,rural_residential" class="dropdown-item">Residential</a>
                <a href="{% url 'properties' %}?category=for_sale&sector=commercial,rural_commercial" class="dropdown-item">Commercial</a>
                <a href="{% url 'properties' %}?category=for_sale&sector=rural_residential,rural_commercial" class="dropdown-item">Rural</a>
                <a href="{% url 'properties' %}?category=for_sale&sector=residential,commercial" class="dropdown-item">Metro</a>
                <a href="{% url 'properties' %}?category=for_sale&sector=residential,rural_residential,commercial,rural_commercial" class="dropdown-item">All Properties</a> 
           
            </div>
        </li>

        <!-- For Rent dropdown list -->
        <li class="nav-item dropdown">
            <span href="{% url 'properties' %}?category=for_rent" class="logo-font font-weight-light nav-link text-black px-3 mr-5 auto-dropdown" id="rent-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Rent
            </span>
            <div class="dropdown-menu border-0" aria-labelledby="rent-link">
                <a href="{% url 'properties' %}?category=for_rent&sector=residential,rural_residential" class="dropdown-item">Residential</a>
                <a href="{% url 'properties' %}?category=for_rent&sector=commercial,rural_commercial" class="dropdown-item">Commercial</a>
                <a href="{% url 'properties' %}?category=for_rent&sector=rural_residential,rural_commercial" class="dropdown-item">Rural</a>
                <a href="{% url 'properties' %}?category=for_rent&sector=residential,commercial" class="dropdown-item">Metro</a>
                <a href="{% url 'properties' %}?category=for_rent&sector=residential,rural_residential,commercial,rural_commercial" class="dropdown-item">All Properties</a> 
            </div>
        </li>

        <!-- For Lease dropdown list -->
        <li class="nav-item dropdown">
            <span href="{% url 'properties' %}?category=for_lease" class="logo-font font-weight-light nav-link text-black px-3 mr-5 auto-dropdown" id="lease-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Lease
            </span>
            <div class="dropdown-menu border-0" aria-labelledby="lease-link">
                <a href="{% url 'properties' %}?category=for_lease&sector=residential,rural_residential" class="dropdown-item">Residential</a>
                <a href="{% url 'properties' %}?category=for_lease&sector=commercial,rural_commercial" class="dropdown-item">Commercial</a>
                <a href="{% url 'properties' %}?category=for_lease&sector=rural_residential,rural_commercial" class="dropdown-item">Rural</a>
                <a href="{% url 'properties' %}?category=for_lease&sector=residential,commercial" class="dropdown-item">Metro</a>
                <a href="{% url 'properties' %}?category=for_lease&sector=residential,rural_residential,commercial,rural_commercial" class="dropdown-item">All Properties</a> 
            </div>
        </li>
    </ul>
</nav>

<!-- <script src="static/js/scrollfade.js"></script> -->