{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<h1>Blog Page Header</h1>
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>Blog Page Content</h2>
<h4>This page has been intentionally left blank.</h4>
<p>It has been created as general coding practice and to contain future iterations of the project in time and is not intended to be par of the CI Full Stack Toolkit assessment.</p>
<p>Please refer to the <a href="{% url 'view_bookings' %}">bookings</a> landing page for this part of the project at this point in time.</p>
{% endblock %}