{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% endblock %}

    <!-- Section to add additional meta to add to each page as needed -->
    {% block extra_meta %}
    {% endblock %}

    <!-- Core css to add to each page -->
    {% block core_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="icon" href="https://res.cloudinary.com/yodakode/image/upload/v1662025182/ReaBook/ReaBook-icon_oz7vgx.png" title="ReaBook">
    {% endblock %}

    <!-- Section to add additional css to add to each page as needed -->
    {% block extra_css %}
    {% endblock %}

    <!-- Core Scripts to load on the base.html page -->
    {% block core_js %}
    <script src="https://kit.fontawesome.com/c2dc8de795.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    {% endblock %}

    <!-- Section to add additional Js to add to each page as needed -->
    {% block extra_js %}
    {% endblock %}

    <title>ReaBook {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top">
        <nav id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">

            <!-- to contain our logo and links in the header -->
            <div class="col-12 col-lg-5 my-auto py-1 py-lg-0 text-center text-lg-left w-100" id="home-nav">
                <!-- Navbar Navigation -->
                <ul class="mr-auto m-1 mt-2 mt-lg-0 list-inline">
                    <li class="list-inline-item">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <h2>
                                <i class="fas fa-bookmark reabook-logo"></i><strong class="text-black"> ReaBook</strong>
                            </h2>
                        </a>
                    </li>
                    <li class="list-inline-item active">
                        <a class="nav-link text-grey" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'properties' %}">View <span class="sr-only"></span></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link" href="{% url 'choose_bookings' %}">Book <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>

            <!-- contain the my account and diary links in the header -->
            <div class="col-12 col-lg-7 my-auto py-1 py-lg-0 ">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">

                    <!-- Quick search Form -->
                    <li class="list-inline-item">
                        <form method="GET" action="{% url 'properties' %}" class="form form-inline my-2 my-lg-0" id="header-search">
                            {% csrf_token %}
                            <input class="form-control mr-sm-2" type="text" name="q" placeholder="search here"
                                aria-label="Search">
                            <button class="btn btn-outline-reabook my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </li>

                     <!-- My Account Header link -->
                    <li class="list-inline-item dropdown">
                        <a id="user-options" href="#" class="dropdown-header nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="fas fa-user"></span> My Account
                        </a>

                        <!-- dropdown menu items -->
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'admin:index' %}" target="_blank" class="dropdown-item">Site Admin</a>
                                    <a href="{% url 'manage-properties' user.id %}" class="dropdown-item">Manage Properties</a>
                                    <div class="dropdown-divider"></div>
                                {% elif request.user.is_staff %}
                                    <a href="{% url 'manage-properties' user.id %}" class="dropdown-item">Manage Properties</a>
                                    <div class="dropdown-divider"></div>
                                {% endif %}
                                <a href="{% url 'my-profile' user.id %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'register' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>

                    <!-- appearance of the diary and display of totals within -->
                    <li class="list-inline-item">
                        {% if user.is_authenticated %}
                        <a href="{% url 'user-diary' user.id %}" class="bookings-nav pl-0 nav-link"><span
                            class="fa-solid fa-book-bookmark {% if grand_total %}text-info font-weight-bold{% else %}text-grey{% endif %}"></span> Bookings : <span class="my-0">
                                {% if grand_total %}
                                ${{ grand_total | floatformat:2 }}
                                {% else %}
                                0
                                {% endif %}
                            </span>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}" class="bookings-nav pl-0 nav-link"><span
                            class="fa-solid fa-book-bookmark {% if grand_total %}text-info font-weight-bold{% else %}text-grey{% endif %}"></span> Bookings : <span class="my-0">
                                {% if grand_total %}
                                ${{ grand_total | floatformat:2 }}
                                {% else %}
                                0
                                {% endif %}
                            </span>
                        </a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main site central sub-navigation bar -->
        <div class="row">
            <nav id="" class="navbar navbar-expand-lg w-100 font-weight-light subnav-light">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->

                <!-- toggle button for main navigation -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sub-nav" aria-controls="sub-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa-solid fa-bars"></i></span>
                </button>
                <!-- include versions of the top header from templates > includes > ... -->
                {% include 'includes/mobile-top-header.html' %}
                {% include 'includes/sub-nav.html' %}
            </nav>
        </div>
    </header>
    {% block page_header %}
    {% endblock %}

    <!-- Buffer to allow nav containers  -->
    <div class="container header-container-subpages">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

    <!-- Message container section -->
    <div class="text-center mx-5">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="fa-solid fa-circle-info"></i>
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- Main page content  -->
    {% block content %}
    {% endblock %}

    <footer>
        <!-- <div class="row h-5 sticky-bottom"> -->
        <div class="row h-5 fixed-bottom px-2">
            <div class="col-3 bg-info text-lg-left">Left Column</div>
            <div class="col-6 bg-success text-lg-center">Middle Column</div>
            <div class="col-3 bg-warning text-lg-right">Right Column</div>
        </div>
    </footer>

    <!-- Js to load at end -->
    {% block postload_js %}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/popper.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

    <!-- Custom Js -->
    <script type="text/javascript" src="{% static 'js/scrollfade.js' %}"></script>
    {% endblock %}
</body>

</html>